

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - FlashFood_Original</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">
    <title>FlashFood - Início</title>

    
    <link rel="stylesheet" href="assets/css/style.css">
    @RenderSection("CSS", false)
</head>
<body>
    <header id="header">
        <a class="logo" href="index.html">FLASH<span>FOOD</span></a>

        <nav id="nav">
            <button aria-label="Abrir Menu" id="btn-mobile" aria-haspopup="true" aria-controls="menu" aria-expanded="false">
                Menu
                <span id="hamburger"></span>
            </button>

            <ul id="menu" role="menu">
                <li><a asp-controller="Home" asp-action="Index">Início</a></li>
                <li><a asp-controller="Home" asp-action="Produtos">Cardápio</a></li>
                <li>
                    <a asp-controller="Home" asp-action="Contato">
                        Contato
                    </a>
                </li>
                @if (User.IsInRole("Administrador"))
                {
                    <li>
                        <a href="/Home/Logoff">
                            Sair
                        </a>
                    </li>
                }else
                {
                    <li>
                        <a class="btn-site login" asp-controller="Home" asp-action="Login">
                            Login
                        </a>
                    </li>
                }
               
               
            </ul>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="lado">
                <h3 class="Fred">Flash</h3>
                <h3 class="Fama">Food</h3>
            </div>
            <h3>© 2023. Todos os direitos reservados.</h3>
        </div>
    </footer>

    <script src="assets/js/script.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
