<section class="intro">
        <img src="./assets/img/esfihas_bg_img/esfihas01.jpg" alt="">
        <h1>Esfihas com a cara<br>do Brasil</h1>
    </section>
        
    <section class="sobre-home">
        <h2>Uma junção de</h2>
        <div class="sobre-home-container">
            <div class="sobre-home-item">
                <img src="assets/img/esfihas_bg_img/esfihas02.jpg">
                <h3>Qualidade</h3>
            </div>
            <div class="sobre-home-item">
                <img src="assets/img/esfihas_bg_img/esfihas03.jpg">
                <h3>Perfeição</h3>
            </div>
        </div>
        <p>Sabe por que comer na <span style="color: red;">Flash</span><span style="color: #b67804">Food</span> é uma delícia? Porque aqui tudo é feito com muito cuidado e perfeição. Nosso maior desejo é levar alegria para todo mundo, oferecendo a melhor refeição para nossos clientes. E através das nossas centrais de produção, fornecer alimentos e oportunidades para toda sociedade.</p>
    </section>

    <section class="container-clientes">
        <h2> Comentários dos nosso clientes </h2>
        <div class="reviewSection">
            <div class="reviewItem">
                <div class="top">
                    <div class="clientImage">
                        <img src="assets/img/clientes/client.png">
                        <span>João Marcos</span>
                    </div>
                </div>
                <article>
                    <p class="review">Quero mais uma vez agradecer o serviço de vocês. A qualidade da comida e o tamanho do recheio nunca mudam. Todo mundo sempre sai satisfeitos e falando que todos os sabores são maravilhosos!</p>
                    <p>03 de janeiro de 2023</p>
                </article>
            </div>

            <div class="reviewItem">
                <div class="top">
                    <div class="clientImage">
                        <img src="assets/img/clientes/client.png">
                        <span>Guilherme Silva</span>
                    </div>
                </div>
                <article>
                    <p class="review">Quero mais uma vez agradecer o serviço de vocês. A qualidade da comida e o tamanho do recheio nunca mudam. Todo mundo sempre sai satisfeitos e falando que todos os sabores são maravilhosos!</p>
                    <p>07 de fevereiro de 2023</p>
                </article>
            </div>

            <div class="reviewItem">
                <div class="top">
                    <div class="clientImage">
                        <img src="assets/img/clientes/client.png">
                        <span>Rosana Marques</span>
                    </div>
                </div>
                <article>
                    <p class="review">Quero mais uma vez agradecer o serviço de vocês. A qualidade da comida e o tamanho do recheio nunca mudam. Todo mundo sempre sai satisfeitos e falando que todos os sabores são maravilhosos!</p>
                    <p>24 de março de 2023</p>
                </article>
            </div>

            <div class="reviewItem">
                <div class="top">
                    <div class="clientImage">
                        <img src="assets/img/clientes/client.png">
                        <span>Robson Rodrigues</span>
                    </div>
                </div>
                <article>
                    <p class="review">Quero mais uma vez agradecer o serviço de vocês. A qualidade da comida e o tamanho do recheio nunca mudam. Todo mundo sempre sai satisfeitos e falando que todos os sabores são maravilhosos!</p>
                    <p>10 de fevereiro de 2023</p>
                </article>
            </div>

            <div class="reviewItem">
                <div class="top">
                    <div class="clientImage">
                        <img src="assets/img/clientes/client.png">
                        <span>Ana Júlia</span>
                    </div>
                </div>
                <article>
                    <p class="review">Quero mais uma vez agradecer o serviço de vocês. A qualidade da comida e o tamanho do recheio nunca mudam. Todo mundo sempre sai satisfeitos e falando que todos os sabores são maravilhosos!</p>
                    <p>05 de Abril de 2023</p>
                </article>
            </div>

            <div class="reviewItem">
                <div class="top">
                    <div class="clientImage">
                        <img src="assets/img/clientes/client.png">
                        <span>Flávia Santos</span>
                    </div>
                </div>
                <article>
                    <p class="review">Quero mais uma vez agradecer o serviço de vocês. A qualidade da comida e o tamanho do recheio nunca mudam. Todo mundo sempre sai satisfeitos e falando que todos os sabores são maravilhosos!</p>
                    <p>30 de maio de 2023</p>
                </article>
            </div>
        </div>
    </section>

    <section class="bg-locais">
        <section class="locais">
            <h1>Nossas Lojas</h1>
            <div class="locais-item">
                <img src="assets/img/locais/botafogo.jpg">
                <div>
                    <h2>Taquaritinga-SP</h2>
                    <p>Av. Dr. Flávio Henrique, Av. Dr. Flávio Henrique Lemos, 585 - Portal Itamaracá, Taquaritinga - SP.</p>
                    <a href="https://www.google.com/maps/dir//endere%C3%A7o+fatec+taquaritinga/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x94b93bd3b48e7047:0x1808de33145ee4e0?sa=X&hl=pt-BR&ved=2ahUKEwiBl5acq_v9AhWLqZUCHdHAD30Q9Rd6BAhrEAU" class="btn-site" target="_blank">Ver Mapa</a>
                </div>
            </div>

            <div class="locais-item">
                <img src="assets/img/locais/iguatemi.jpg">
                <div>
                    <h2>Ribeirão Preto</h2>
                    <p>Av. Pio XII, 1255 - Vila Virginia, Ribeirão Preto - SP.</p>
                    <a href="https://www.google.com/maps/dir//endere%C3%A7o+fatec+ribeir%C3%A3o+preto/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x94b9be853fd0a0d1:0x72dd14d11fb17838?sa=X&hl=pt-BR&ved=2ahUKEwilyf7jq_v9AhWhrpUCHXVBAY8Q9Rd6BAhmEAU" class="btn-site" target="_blank">Ver Mapa</a>
                </div>
            </div>

            <div class="locais-item">
                <img src="assets/img/locais/mineirao.jpg">
                <div>
                    <h2>Matão</h2>
                    <p>Av. Habib Gabriel, 1360 - Jardim Buscardi, Matão - SP.</p>
                    <a href="https://www.google.com/maps/dir/-21.4040576,-48.4900864/endere%C3%A7o+fatec+mat%C3%A3o/-21.5207511,-48.5754954,11z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x94b8e159d287a237:0x70df7e81597e2d08!2m2!1d-48.3601206!2d-21.6176956?hl=pt-BR" class="btn-site" target="_blank">Ver Mapa</a>
                </div>
            </div>
        </section>
    </section>