<link href="@Url.Content("~/assets/css/style.css")" rel="stylesheet" type="text/css" />


<div class="container-contato container-login">
    <form class="form-contato">
        <label for="email">Digite o seu e-mail</label>
        <input class="inputField" type="email" id="email" name="email" placeholder="exemplo@hotmail.com" required>

        <label for="senha">Digite a sua senha</label>
        <input class="inputField" type="password" id="senha" name="senha" placeholder="senha123" required>

        <div class="acesso">
            <a href="">Perdeu a sua senha?</a>
        </div>

        <button type="submit" class="btn-site">Enviar</button>
    </form>
</div>