<link href="@Url.Content("~/assets/css/style.css")" rel="stylesheet" type="text/css" />

    <section class="produtos">
        <header class="header-produtos">
            <h1>Produtos</h1>
            <a class="btn-site" href="#">Adicionar Produtos</a>
        </header>
        <ul>
            <li class="produtos-item">
            <img src="~/esfiha (1) - Cópia.png">
                <ul>
                    <li><span>Nome:</span> Esfirra de bacon</li>
                    <li><span>Preço:</span> R$ 10,50</li>
                    <li><span>Descrição:</span> Bacon, Queijo e Catupiry</li>
                </ul>
                <a href="#">Editar</a>
            </li>

            <li class="produtos-item">
            <img src="~/esfiha (2) - Cópia.png">
                <ul>
                    <li><span>Nome:</span> Esfirra de bacon</li>
                    <li><span>Preço:</span> R$ 10,50</li>
                    <li><span>Descrição:</span> Bacon, Queijo e Catupiry</li>
                </ul>
                <a href="#">Editar</a>
            </li>

            <li class="produtos-item">
            <img src="~/esfiha (3) - Cópia.png">
                <ul>
                    <li><span>Nome:</span> Esfirra de bacon</li>
                    <li><span>Preço:</span> R$ 10,50</li>
                    <li><span>Descrição:</span> Bacon, Queijo e Catupiry</li>
                </ul>
                <a href="#">Editar</a>
            </li>

            <li class="produtos-item">
                <img src="~/esfiha (4) - Cópia.png">
                <ul>
                    <li><span>Nome:</span> Esfirra de bacon</li>
                    <li><span>Preço:</span> R$ 10,50</li>
                    <li><span>Descrição:</span> Bacon, Queijo e Catupiry</li>
                </ul>
                <a href="#">Editar</a>
            </li>

            <li class="produtos-item">
            <img src="~/esfiha (5) - Cópia.png">
                <ul>
                    <li><span>Nome:</span> Esfirra de bacon</li>
                    <li><span>Preço:</span> R$ 10,50</li>
                    <li><span>Descrição:</span> Bacon, Queijo e Catupiry</li>
                </ul>
                <a href="#">Editar</a>
            </li>

            <li class="produtos-item">
            <img src="~/esfiha (6) - Cópia.png">
                <ul>
                    <li><span>Nome:</span> Esfirra de bacon</li>
                    <li><span>Preço:</span> R$ 10,50</li>
                    <li><span>Descrição:</span> Bacon, Queijo e Catupiry</li>
                </ul>
                <a href="#">Editar</a>
            </li>
        </ul>
    </section>
